/* Global */
:root {
  /* Color */
  --color-black: #333;
  --color-dark-grey: rgb(87, 87, 87);
  --color-grey: rgb(150, 150, 150);
  --color-light-grey: rgb(220, 220, 220);
  --color-light-white: rgb(248, 248, 248);
  --color-white: white;
  --color-blue: #036bfc;
  --color-blue-transparent: #036bfccc;
  --color-yellow: #ffc000;
  --color-yellow-transparent: #ffc000cc;
  --color-red: #e52817;
  --color-red-transparent: #e52817cc;

  /* Font weight */
  --font-thin: 100;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-bolder: 900;
}

/* Style universal tags */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--color-black);
  margin: 0;
  padding: 0;
}

h2 {
  line-height: 2.2rem;
}

p {
  line-height: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

hr {
  margin: 1rem 0;
  border: solid var(--color-white) 1px;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: var(--color-white);
  font-weight: bold;
  margin: auto;
  border-bottom: 0.5px solid var(--color-light-grey);
  transition: all 300ms ease-in-out;
  z-index: 1;

  & a {
    color: var(--color-grey);
    padding: 1rem 1.5rem;
    text-decoration: none;
    text-transform: capitalize;

    &:hover,
    &.active {
      color: var(--color-black);
    }
  }

  & .navbar__container {
    display: flex;
    justify-content: right;
    align-items: center;
    transition: all 300ms ease-in-out;
  }

  & #navbar_header {
    text-transform: uppercase;
    font-weight: var(--font-bold);
    font-size: 1rem;
    transition: all 300ms ease-in-out;
    text-decoration: none;
    color: var(--color-black);

    & .logo {
      padding: 1rem;
      width: 230px;
      opacity: 0.75;
      transition: all 300ms ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }

  &.highlight {
    background-color: transparent;
    border-bottom-color: transparent;

    & .navbar__container {
      opacity: 0;
      pointer-events: none;
    }

    & #navbar_header {
      & .logo {
        opacity: 0.4;
      }
    }
  }
}

.logo {
  display: block;
  margin: auto;
  padding: 1rem;
  padding-top: 0.5rem;
  opacity: 0.75;
  width: 95%;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

/* progressbar */
.progressbar_container {
  width: 100%;
  margin: 1rem 0;
  transition: all 300ms ease-in-out;
}

.progressbar {
  max-width: 700px;
  width: 100%;
  counter-reset: step;
  list-style: none;
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.progressbar li {
  color: var(--color-grey);
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  font-size: 0.75rem;
  font-weight: var(--font-bold);
  text-transform: capitalize;
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border: 2px solid var(--color-light-grey);
  display: block;
  text-align: center;
  margin: 0 auto 6px auto;
  border-radius: 50%;
  background-color: var(--color-white);
}

.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--color-light-grey);
  top: 12px; /* Adjust this to ensure the line is centered vertically with the numbers */
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.checked {
  color: var(--color-dark-grey);
}

.progressbar li.checked:before {
  border-color: var(--color-dark-grey);
}

.progressbar li.progressed + li:after {
  background-color: var(--color-dark-grey);
}

/* Contents */
.content {
  display: none;
}

.selected {
  display: block;
}

/* Mapbox */
#map,
#map2 {
  position: fixed;
  top: 0;
  height: 100vh;
  width: calc(50% - 175px);
  z-index: -5;
}

#map {
  left: 350px;
}

#map2 {
  right: 0;
}

.button_yellow {
  color: var(--color-white);
  font-size: 1.4rem;
  font-weight: var(--font-bold);
  padding: 1rem 2rem;
  border: none;
  background-color: var(--color-blue-transparent);
  border-radius: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-blue);
  }

  &:disabled {
    color: var(--color-grey);
    background-color: var(--color-light-grey);
    cursor: not-allowed;
  }
}

.button_grey {
  color: var(--color-white);
  padding: 1rem 2rem;
  border: none;
  background-color: var(--color-grey);
  border-radius: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-dark-grey);
  }

  &:disabled {
    color: var(--color-grey);
    background-color: var(--color-light-grey);
    cursor: not-allowed;
  }
}

.sidebar__button {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.8rem;
  width: 100%;
}

#button_skip {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: var(--font-bold);
  transition: opacity 300ms ease-in-out;
  opacity: 0;
  pointer-events: none;
}

/* County, Explore, Cluster, Select */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 350px;
  height: 100%;
  background-color: var(--color-white);
  padding: 0.5rem;
  overflow: scroll;
  overflow-x: hidden;
}

.sidebar__prompt,
.sidebar__dataset {
  font-size: 0.9rem;
  line-height: 1.2rem;
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: var(--color-light-white);
  border-radius: 0.5rem;

  & h4 {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1rem;
  }
}

.sidebar__dataset.selectable .dataset__item {
  & p {
    cursor: pointer;

    &:hover,
    &.selectedData {
      color: var(--color-yellow);
      font-weight: var(--font-bold);
    }
  }
}

.sidebar__dataset.selectable.blue .dataset__item {
  & p {
    cursor: pointer;

    &:hover,
    &.selectedData {
      color: var(--color-blue);
      font-weight: var(--font-bold);
    }
  }
}

.dataset__item {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-dark-grey);
  padding: 0.2rem 0;

  & p {
    width: 100%;
    margin: 0;
  }

  & .fa-square-plus,
  .fa-square-minus {
    font-size: 1.15rem;
    opacity: 0.3;
    cursor: pointer;

    &:hover,
    &.added {
      opacity: 0.7;
      font-weight: bold;
      color: var(--color-grey);
    }
  }
}

/* scrollbar on sidebar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-light-white);
}

::-webkit-scrollbar-thumb {
  background: rgb(235, 235, 235);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-light-grey);
}

/* dropdown menu on sidebar */
.dropbtn {
  display: block;
  width: 100%;
  text-align: start;
  padding: 0;
  font-size: 1rem;
  font-weight: var(--font-medium);
  border: none;
  cursor: pointer;
  background-color: var(--color-light-white);
}

.triangle {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 0.8rem;
  vertical-align: middle;
  border-left: 0.4rem solid var(--color-grey);
  border-top: 0.4rem solid transparent;
  border-bottom: 0.4rem solid transparent;
  transition: transform 300ms ease;
  transform: translateY(-10%);
}

.dropbtn:hover .triangle {
  border-left: 0.4rem solid var(--color-dark-grey);
}

.dropdown-content {
  display: none;
  margin-top: 0.5rem;
  min-width: 160px;
}

.select-counties {
  & p {
    color: var(--color-yellow);
  }

  &:hover,
  &.added {
    color: var(--color-yellow);
    font-weight: var(--font-bold);
  }
}

/* footerbar */
.footerbar {
  display: flex;
  justify-content: right;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100vw - 350px);
  height: 80px;
  background-color: var(--color-white);
}

.footerbar__button {
  font-size: 1.3rem;
  font-weight: var(--font-bold);
  margin-right: 0.6rem;
  width: 200px;
}

/* legend */
.legend {
  width: 290px;
  font-size: 0.9rem;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0.5rem;
  padding: 1rem;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: -20px 19px 28px -26px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: -20px 19px 28px -26px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: -20px 19px 28px -26px rgba(0, 0, 0, 0.14);
}

.legend-map {
  right: calc(50% - 175px);
}

.legend__title {
  text-align: start;
  margin-top: 0;
}

.gradient-bar.blue {
  height: 0.7rem;
  background: linear-gradient(
    to right,
    var(--color-white) 0%,
    var(--color-blue) 100%
  );
  margin-bottom: 0.5rem;
}

.gradient-bar.yellow {
  height: 0.7rem;
  background: linear-gradient(
    to right,
    var(--color-white) 0%,
    var(--color-yellow) 100%
  );
  margin-bottom: 0.5rem;
}

.scale {
  display: flex;
  justify-content: space-between;
}

.cluster-legend-map {
  top: 114px;
  right: calc(50% - 175px);
}

.cluster-legend-map2 {
  top: 114px;
}

.cluster-legend-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cluster-legend-list li {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.color-box {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 10px;
  border: solid var(--color-light-grey) 1px;
}

.invisible {
  display: none;
}
